examples/simple-flowgate.json
[
    {
        "id": "4f397f3a1bdaef61",
        "type": "inject",
        "z": "84c82b718b328987",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "7cadca75dab0b34a"
            ]
        ]
    },
    {
        "id": "ee24781f808d8f1c",
        "type": "debug",
        "z": "84c82b718b328987",
        "name": "active",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "7cadca75dab0b34a",
        "type": "flowgate",
        "z": "84c82b718b328987",
        "name": "",
        "bypass": false,
        "outputs": 1,
        "active": true,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "ee24781f808d8f1c"
            ]
        ]
    }
]